body{

	font-family: verdana,helvetica,arial,sans-serif;
	width: 100%;
}

#scheme{
	width: 100%;
	height: 100%;
}

.overlay {
	width: 80%;
	height: 100%;
	background-image: url("../img/cat.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	float:left;
}
.overlay .cover{
	width: 10%;
	height: 10%;
	background-color: #34d0ab;
	display: inline-block;
	float: left;
	opacity: 1;
	-webkit-transition: visibility 0.75s ease-in-out, opacity 0.75s ease-in-out;
  	-moz-transition: visibility 0.75s ease-in-out, opacity 0.75s ease-in-out;
  	-o-transition: visibility 0.75s ease-in-out, opacity 0.75s ease-in-out;
	transition: visibility 0.75s ease-in-out, opacity 0.75s ease-in-out;
}

#score{
	width: 20%;
	height: 100%;
	background-color: #ff8f40;
	vertical-align: middle;
	border-radius: 4px;
	float: left;
	text-align: center;
}

#counter{
	width: 80%;
	display: inline-block;
	text-align: center;
}

#level{
	width: 80%;
	display: inline-block;
	text-align: center;
}

#form_answer{
	width: 80%;
	padding-top: 15px; 
	display: inline-block;
	text-align: center; 
}

#sub{
	font-family: verdana,helvetica,arial,sans-serif;
	padding: 6px 10px;	
	font-size: 1em;
	width: 80%;
	border-radius: 4px;
	color: #000;
	background-color: #34d0ab;
	border: none;
	cursor: pointer;
}

#answer{
	border: none;
	height: 25px;
	font-size: 1em;
	text-align: center;
	width: 80%;
	margin-bottom: 10px;
}

#divScore{
	visibility: hidden;
	position: absolute;
    top: 50%;  /* pozice horní hrany bude na středu rodičovského prvku */
    left: 50%; /* pozice levé hrany bude na středu rodičovského prvku  */
    transform: translate(-50%, -50%); /* translateX(-50%) a translateY(-50%) - posunutí, aby byl prvek vycentrovaný */
	width: 70%;
	height: 70%;
	max-width: 400px;
	max-height: 220px;
	background-color: #ff8f40;
	box-shadow: 0em 0em 1em black;
	text-align: center;
}

#yourScore{
	font-size: 1.5em;
}

#newGame{
	font-family: verdana,helvetica,arial,sans-serif;
	padding: 6px 10px;	
	font-size: 1em;
	width: 30%;
	border-radius: 4px;
	color: #000;
	background-color: #34d0ab;
	border: none;
	display: inline-block;
	cursor: pointer;
}

#divIntro{
	visibility: visible;
	position: absolute;
    top: 50%;  /* pozice horní hrany bude na středu rodičovského prvku */
    left: 50%; /* pozice levé hrany bude na středu rodičovského prvku  */
    transform: translate(-50%, -50%); /* translateX(-50%) a translateY(-50%) - posunutí, aby byl prvek vycentrovaný */
	width: 70%;
	height: 70%;
	font-size: 0.8em;
	max-width: 600px;
	max-height: 150px;
	padding: 10px;
	background-color: #ff8f40;
	box-shadow: 0em 0em 1em black;
	text-align: center;
}

#playGame{
	font-family: verdana,helvetica,arial,sans-serif;
	padding: 6px 10px;	
	width: 30%;
	border-radius: 4px;
	font-size: 1em;
	color: #000;
	background-color: #34d0ab;
	border: none;
	display: inline-block;
	cursor: pointer;
}